## Import libraries

In [1]:
import pandas as pd

## Specify indicator, frequency, reference area, series, reporting type, unit measure, unit multiplier and the observation status

We are in the process of adding new columns for unit measure, unit multiplier and observation status. Once these are in the data, they will no longer need to be specified here.

We hope that the other fields will be specified by the metadata once we have managed to build this tool in to open-sdg.

In [2]:
indicator_file='indicator_1-2-1.csv'
FREQ= 'A'
REF_AREA= '826'
SERIES= 'SI_POV_NAHC'
REPORTING_TYPE= 'N'

## Import files
Here we import the indicator CSV file and the mapping we created using [ILOSTAT's SMART tool](https://www.ilo.org/ilostat/tools/smart/index.html), which is also a CSV file.

For this example, indicator 1.2.1 is used and below you can see that it is disaggregated by Sex and Age.

In [3]:
original_csv=pd.read_csv("//nsdata2/SDGs/Data Collection and Reporting/Jemalex/SDMX/test indicator/"+indicator_file)
indicator=pd.read_csv("//nsdata2/SDGs/Data Collection and Reporting/Jemalex/SDMX/test indicator/"+indicator_file)
indicator=indicator.rename(columns = {"Observation status": "Obs status", "Unit multiplier":"Unit mult", "Units": "Unit measure"})
indicator.head()

   Year    Unit measure    Obs status Unit mult  Sex  Age  Value
0  2005  Percentage (%)  Normal value     Units  NaN  NaN   24.8
1  2006  Percentage (%)  Normal value     Units  NaN  NaN   23.7
2  2007  Percentage (%)  Normal value     Units  NaN  NaN   22.6
3  2008  Percentage (%)  Normal value     Units  NaN  NaN   23.2
4  2009  Percentage (%)  Normal value     Units  NaN  NaN   22.0

In [4]:
new_columns=[]
for col in indicator.columns:
    new=col.replace(" ", ".")
    indicator=indicator.rename(columns = {col:new})
indicator.head()

   Year    Unit.measure    Obs.status Unit.mult  Sex  Age  Value
0  2005  Percentage (%)  Normal value     Units  NaN  NaN   24.8
1  2006  Percentage (%)  Normal value     Units  NaN  NaN   23.7
2  2007  Percentage (%)  Normal value     Units  NaN  NaN   22.6
3  2008  Percentage (%)  Normal value     Units  NaN  NaN   23.2
4  2009  Percentage (%)  Normal value     Units  NaN  NaN   22.0

In [5]:
indicator.tail()

     Year    Unit.measure    Obs.status Unit.mult   Sex          Age  Value
268  2017  Percentage (%)  Normal value     Units  Male     16 to 24   21.8
269  2017  Percentage (%)  Normal value     Units  Male     25 to 49   15.2
270  2017  Percentage (%)  Normal value     Units  Male     50 to 64   16.3
271  2017  Percentage (%)  Normal value     Units  Male     65 to 74   14.3
272  2017  Percentage (%)  Normal value     Units  Male  75 and over   24.1

In [6]:
mapping=pd.read_csv("//nsdata2/SDGs/Data Collection and Reporting/Jemalex/SDMX/test indicator/Outputs/121_newmapping.csv")
mapping

,DSD_Dim,DSD_Dim_Code,EXT_Dim,EXT_Dim_Code,DSD_Attri,DSD_Attri_Code,DSD_Dim_Type
0,_REPVAR_,SDG,Value,NONE,NaN,NaN,STUDYVAR
1,FREQ,A,NaN,NaN,NaN,4.0,DIM
2,REPORTING_TYPE,N,NaN,NaN,NaN,4.0,DIM
3,SERIES,SI_POV_NAHC,NaN,NaN,NaN,4.0,DIM
4,REF_AREA,826,NaN,NaN,NaN,4.0,DIM
5,SEX,F,Sex,Female,NaN,3.0,DIM
6,SEX,M,Sex,Male,NaN,3.0,DIM
7,SEX,_T,Sex,_,NaN,3.0,DIM
8,AGE,_T,Age,_,NaN,3.0,DIM
9,AGE,Y0T15,Age,15 and under,NaN,3.0,DIM
10,AGE,Y65T74,Age,65 to 74,NaN,3.0,DIM
11,AGE,Y50T64,Age,50 to 64,NaN,3.0,DIM
12,AGE,Y25T49,Age,25 to 49,NaN,3.0,DIM
13,AGE,Y16T24,Age,16 to 24,NaN,3.0,DIM
14,AGE,Y_GE75,Age,75 and over,NaN,3.0,DIM
15,URBANISATION,_T,NaN,NaN,NaN,4.0,DIM
16,INCOME_WEALTH_QUANTILE,_T,NaN,NaN,NaN,4.0,DIM
17,EDUCATION_LEV,_T,NaN,NaN,NaN,4.0,DIM
18,OCCUPATION,_T,NaN,NaN,NaN,4.0,DIM
19,CUST_BREAKDOWN,_T,NaN,NaN,NaN,4.0,DIM
20,COMPOSITE_BREAKDOWN,_T,NaN,NaN,NaN,4.0,DIM
21,DISABILITY_STATUS,_T,NaN,NaN,NaN,4.0,DIM
22,TIME_PERIOD,NaN,Year,NaN,NaN,1.0,DIM
23,UNIT_MULT,0,Unit.mult,Units,NaN,3.0,ATTRI
24,UNIT_MEASURE,PERCENT,Unit.measure,Percentage (%),NaN,3.0,ATTRI
25,OBS_STATUS,A,Obs.status,Normal value,NaN,3.0,ATTRI

## Create some objects
Below we create a list of all the fields that could be present in an indicator file, a dictionary that contains the variables that we specified earlier and an empty dataframe which is the same length (same number of rows) as the indicator CSV file.

In [7]:
fields=['FREQ', 'REPORTING_TYPE', 'SERIES', 'REF_AREA', 'SEX', 'AGE', 'URBANISATION',
                 'INCOME_WEALTH_QUANTILE', 'EDUCATION_LEV', 'OCCUPATION', 'CUST_BREAKDOWN',
                 'COMPOSITE_BREAKDOWN', 'DISABILITY_STATUS', 'TIME_PERIOD', 'OBS_VALUE',
                 'OBS_STATUS', 'UNIT_MULT', 'UNIT_MEASURE']

dis_values={"FREQ":FREQ, "REF_AREA":REF_AREA, "SERIES":SERIES, "REPORTING_TYPE": REPORTING_TYPE}

df=pd.DataFrame(index=indicator.index)

## Populate dis_values dictionary
For each of the items in the fields list, check whether the field (capitalised and with the underscore removed) is a column name in the indicator file and whether it has already been specified in the dis_values dictionary (as it is).

If not then add the field to the dis_values dictionary as keys, with '_T' as the values

In [8]:
for field in ['_REPVAR_' if x=="OBS_VALUE" else x for x in fields]:
    dis=field.split('_')
    dis_str=""
    for i in dis:
        dis_str += str(i).capitalize()+ " "
    dis_str=dis_str[:-1].capitalize().replace(" ", ".")
    if dis_str not in indicator.columns and field not in dis_values.keys():
        dis_values[field]='_T'

## Populate df dataframe
For each key in the dis_values dictionary create a column in df and assign the corresponding value to every row in that column.

In [9]:
for dis, value in dis_values.items():
    df[dis]=value

For each column in the indicator file create a column in df which has the corresponding column name from the mapping

In [10]:
for col in indicator.columns:
    newcol=mapping['DSD_Dim'].loc[mapping['EXT_Dim']==col].iloc[0]
    df[newcol]=indicator[col]       
    indicator.rename(columns={col:newcol}, inplace=True)


df.head()
indicator.head()

   TIME_PERIOD    UNIT_MEASURE    OBS_STATUS UNIT_MULT  SEX  AGE  _REPVAR_
0         2005  Percentage (%)  Normal value     Units  NaN  NaN      24.8
1         2006  Percentage (%)  Normal value     Units  NaN  NaN      23.7
2         2007  Percentage (%)  Normal value     Units  NaN  NaN      22.6
3         2008  Percentage (%)  Normal value     Units  NaN  NaN      23.2
4         2009  Percentage (%)  Normal value     Units  NaN  NaN      22.0

Fill empty cells with '_' as that what they are in the mapping

In [11]:
df=df.fillna('_')
df.head()

,FREQ,REF_AREA,SERIES,REPORTING_TYPE,URBANISATION,INCOME_WEALTH_QUANTILE,EDUCATION_LEV,OCCUPATION,CUST_BREAKDOWN,COMPOSITE_BREAKDOWN,DISABILITY_STATUS,TIME_PERIOD,_REPVAR_,UNIT_MEASURE,OBS_STATUS,UNIT_MULT,SEX,AGE
0,A,826,SI_POV_NAHC,N,_T,_T,_T,_T,_T,_T,_T,2005,24.8,Percentage (%),Normal value,Units,_,_
1,A,826,SI_POV_NAHC,N,_T,_T,_T,_T,_T,_T,_T,2006,23.7,Percentage (%),Normal value,Units,_,_
2,A,826,SI_POV_NAHC,N,_T,_T,_T,_T,_T,_T,_T,2007,22.6,Percentage (%),Normal value,Units,_,_
3,A,826,SI_POV_NAHC,N,_T,_T,_T,_T,_T,_T,_T,2008,23.2,Percentage (%),Normal value,Units,_,_
4,A,826,SI_POV_NAHC,N,_T,_T,_T,_T,_T,_T,_T,2009,22.0,Percentage (%),Normal value,Units,_,_

In [12]:
for i in df.index:
    for col in indicator.drop(columns=["TIME_PERIOD", "_REPVAR_"]).columns:
        print(col, i)

UNIT_MEASURE 0
OBS_STATUS 0
UNIT_MULT 0
SEX 0
AGE 0
UNIT_MEASURE 1
OBS_STATUS 1
UNIT_MULT 1
SEX 1
AGE 1
UNIT_MEASURE 2
OBS_STATUS 2
UNIT_MULT 2
SEX 2
AGE 2
UNIT_MEASURE 3
OBS_STATUS 3
UNIT_MULT 3
SEX 3
AGE 3
UNIT_MEASURE 4
OBS_STATUS 4
UNIT_MULT 4
SEX 4
AGE 4
UNIT_MEASURE 5
OBS_STATUS 5
UNIT_MULT 5
SEX 5
AGE 5
UNIT_MEASURE 6
OBS_STATUS 6
UNIT_MULT 6
SEX 6
AGE 6
UNIT_MEASURE 7
OBS_STATUS 7
UNIT_MULT 7
SEX 7
AGE 7
UNIT_MEASURE 8
OBS_STATUS 8
UNIT_MULT 8
SEX 8
AGE 8
UNIT_MEASURE 9
OBS_STATUS 9
UNIT_MULT 9
SEX 9
AGE 9
UNIT_MEASURE 10
OBS_STATUS 10
UNIT_MULT 10
SEX 10
AGE 10
UNIT_MEASURE 11
OBS_STATUS 11
UNIT_MULT 11
SEX 11
AGE 11
UNIT_MEASURE 12
OBS_STATUS 12
UNIT_MULT 12
SEX 12
AGE 12
UNIT_MEASURE 13
OBS_STATUS 13
UNIT_MULT 13
SEX 13
AGE 13
UNIT_MEASURE 14
OBS_STATUS 14
UNIT_MULT 14
SEX 14
AGE 14
UNIT_MEASURE 15
OBS_STATUS 15
UNIT_MULT 15
SEX 15
AGE 15
UNIT_MEASURE 16
OBS_STATUS 16
UNIT_MULT 16
SEX 16
AGE 16
UNIT_MEASURE 17
OBS_STATUS 17
UNIT_MULT 17
SEX 17
AGE 17
UNIT_MEASURE 18
OBS_STATUS 18
UNIT_MULT 18
SEX 18
AGE 18
UNIT_MEASURE 19
OBS_STATUS 19
UNIT_MULT 19
SEX 19
AGE 19
UNIT_MEASURE 20
OBS_STATUS 20
UNIT_MULT 20
SEX 20
AGE 20
UNIT_MEASURE 21
OBS_STATUS 21
UNIT_MULT 21
SEX 21
AGE 21
UNIT_MEASURE 22
OBS_STATUS 22
UNIT_MULT 22
SEX 22
AGE 22
UNIT_MEASURE 23
OBS_STATUS 23
UNIT_MULT 23
SEX 23
AGE 23
UNIT_MEASURE 24
OBS_STATUS 24
UNIT_MULT 24
SEX 24
AGE 24
UNIT_MEASURE 25
OBS_STATUS 25
UNIT_MULT 25
SEX 25
AGE 25
UNIT_MEASURE 26
OBS_STATUS 26
UNIT_MULT 26
SEX 26
AGE 26
UNIT_MEASURE 27
OBS_STATUS 27
UNIT_MULT 27
SEX 27
AGE 27
UNIT_MEASURE 28
OBS_STATUS 28
UNIT_MULT 28
SEX 28
AGE 28
UNIT_MEASURE 29
OBS_STATUS 29
UNIT_MULT 29
SEX 29
AGE 29
UNIT_MEASURE 30
OBS_STATUS 30
UNIT_MULT 30
SEX 30
AGE 30
UNIT_MEASURE 31
OBS_STATUS 31
UNIT_MULT 31
SEX 31
AGE 31
UNIT_MEASURE 32
OBS_STATUS 32
UNIT_MULT 32
SEX 32
AGE 32
UNIT_MEASURE 33
OBS_STATUS 33
UNIT_MULT 33
SEX 33
AGE 33
UNIT_MEASURE 34
OBS_STATUS 34
UNIT_MULT 34
SEX 34
AGE 34
UNIT_MEASURE 35
OBS_STATUS 35
UNIT_MULT 35
SEX 35
AGE 35
UNIT_MEASURE 36
OBS_STATUS 36
UNIT_MULT 36
SEX 36
AGE 36
UNIT_MEASURE 37
OBS_STATUS 37
UNIT_MULT 37
SEX 37
AGE 37
UNIT_MEASURE 38
OBS_STATUS 38
UNIT_MULT 38
SEX 38
AGE 38
UNIT_MEASURE 39
OBS_STATUS 39
UNIT_MULT 39
SEX 39
AGE 39
UNIT_MEASURE 40
OBS_STATUS 40
UNIT_MULT 40
SEX 40
AGE 40
UNIT_MEASURE 41
OBS_STATUS 41
UNIT_MULT 41
SEX 41
AGE 41
UNIT_MEASURE 42
OBS_STATUS 42
UNIT_MULT 42
SEX 42
AGE 42
UNIT_MEASURE 43
OBS_STATUS 43
UNIT_MULT 43
SEX 43
AGE 43
UNIT_MEASURE 44
OBS_STATUS 44
UNIT_MULT 44
SEX 44
AGE 44
UNIT_MEASURE 45
OBS_STATUS 45
UNIT_MULT 45
SEX 45
AGE 45
UNIT_MEASURE 46
OBS_STATUS 46
UNIT_MULT 46
SEX 46
AGE 46
UNIT_MEASURE 47
OBS_STATUS 47
UNIT_MULT 47
SEX 47
AGE 47
UNIT_MEASURE 48
OBS_STATUS 48
UNIT_MULT 48
SEX 48
AGE 48
UNIT_MEASURE 49
OBS_STATUS 49
UNIT_MULT 49
SEX 49
AGE 49
UNIT_MEASURE 50
OBS_STATUS 50
UNIT_MULT 50
SEX 50
AGE 50
UNIT_MEASURE 51
OBS_STATUS 51
UNIT_MULT 51
SEX 51
AGE 51
UNIT_MEASURE 52
OBS_STATUS 52
UNIT_MULT 52
SEX 52
AGE 52
UNIT_MEASURE 53
OBS_STATUS 53
UNIT_MULT 53
SEX 53
AGE 53
UNIT_MEASURE 54
OBS_STATUS 54
UNIT_MULT 54
SEX 54
AGE 54
UNIT_MEASURE 55
OBS_STATUS 55
UNIT_MULT 55
SEX 55
AGE 55
UNIT_MEASURE 56
OBS_STATUS 56
UNIT_MULT 56
SEX 56
AGE 56
UNIT_MEASURE 57
OBS_STATUS 57
UNIT_MULT 57
SEX 57
AGE 57
UNIT_MEASURE 58
OBS_STATUS 58
UNIT_MULT 58
SEX 58
AGE 58
UNIT_MEASURE 59
OBS_STATUS 59
UNIT_MULT 59
SEX 59
AGE 59
UNIT_MEASURE 60
OBS_STATUS 60
UNIT_MULT 60
SEX 60
AGE 60
UNIT_MEASURE 61
OBS_STATUS 61
UNIT_MULT 61
SEX 61
AGE 61
UNIT_MEASURE 62
OBS_STATUS 62
UNIT_MULT 62
SEX 62
AGE 62
UNIT_MEASURE 63
OBS_STATUS 63
UNIT_MULT 63
SEX 63
AGE 63
UNIT_MEASURE 64
OBS_STATUS 64
UNIT_MULT 64
SEX 64
AGE 64
UNIT_MEASURE 65
OBS_STATUS 65
UNIT_MULT 65
SEX 65
AGE 65
UNIT_MEASURE 66
OBS_STATUS 66
UNIT_MULT 66
SEX 66
AGE 66
UNIT_MEASURE 67
OBS_STATUS 67
UNIT_MULT 67
SEX 67
AGE 67
UNIT_MEASURE 68
OBS_STATUS 68
UNIT_MULT 68
SEX 68
AGE 68
UNIT_MEASURE 69
OBS_STATUS 69
UNIT_MULT 69
SEX 69
AGE 69
UNIT_MEASURE 70
OBS_STATUS 70
UNIT_MULT 70
SEX 70
AGE 70
UNIT_MEASURE 71
OBS_STATUS 71
UNIT_MULT 71
SEX 71
AGE 71
UNIT_MEASURE 72
OBS_STATUS 72
UNIT_MULT 72
SEX 72
AGE 72
UNIT_MEASURE 73
OBS_STATUS 73
UNIT_MULT 73
SEX 73
AGE 73
UNIT_MEASURE 74
OBS_STATUS 74
UNIT_MULT 74
SEX 74
AGE 74
UNIT_MEASURE 75
OBS_STATUS 75
UNIT_MULT 75
SEX 75
AGE 75
UNIT_MEASURE 76
OBS_STATUS 76
UNIT_MULT 76
SEX 76
AGE 76
UNIT_MEASURE 77
OBS_STATUS 77
UNIT_MULT 77
SEX 77
AGE 77
UNIT_MEASURE 78
OBS_STATUS 78
UNIT_MULT 78
SEX 78
AGE 78
UNIT_MEASURE 79
OBS_STATUS 79
UNIT_MULT 79
SEX 79
AGE 79
UNIT_MEASURE 80
OBS_STATUS 80
UNIT_MULT 80
SEX 80
AGE 80
UNIT_MEASURE 81
OBS_STATUS 81
UNIT_MULT 81
SEX 81
AGE 81
UNIT_MEASURE 82
OBS_STATUS 82
UNIT_MULT 82
SEX 82
AGE 82
UNIT_MEASURE 83
OBS_STATUS 83
UNIT_MULT 83
SEX 83
AGE 83
UNIT_MEASURE 84
OBS_STATUS 84
UNIT_MULT 84
SEX 84
AGE 84
UNIT_MEASURE 85
OBS_STATUS 85
UNIT_MULT 85
SEX 85
AGE 85
UNIT_MEASURE 86
OBS_STATUS 86
UNIT_MULT 86
SEX 86
AGE 86
UNIT_MEASURE 87
OBS_STATUS 87
UNIT_MULT 87
SEX 87
AGE 87
UNIT_MEASURE 88
OBS_STATUS 88
UNIT_MULT 88
SEX 88
AGE 88
UNIT_MEASURE 89
OBS_STATUS 89
UNIT_MULT 89
SEX 89
AGE 89
UNIT_MEASURE 90
OBS_STATUS 90
UNIT_MULT 90
SEX 90
AGE 90
UNIT_MEASURE 91
OBS_STATUS 91
UNIT_MULT 91
SEX 91
AGE 91
UNIT_MEASURE 92
OBS_STATUS 92
UNIT_MULT 92
SEX 92
AGE 92
UNIT_MEASURE 93
OBS_STATUS 93
UNIT_MULT 93
SEX 93
AGE 93
UNIT_MEASURE 94
OBS_STATUS 94
UNIT_MULT 94
SEX 94
AGE 94
UNIT_MEASURE 95
OBS_STATUS 95
UNIT_MULT 95
SEX 95
AGE 95
UNIT_MEASURE 96
OBS_STATUS 96
UNIT_MULT 96
SEX 96
AGE 96
UNIT_MEASURE 97
OBS_STATUS 97
UNIT_MULT 97
SEX 97
AGE 97
UNIT_MEASURE 98
OBS_STATUS 98
UNIT_MULT 98
SEX 98
AGE 98
UNIT_MEASURE 99
OBS_STATUS 99
UNIT_MULT 99
SEX 99
AGE 99
UNIT_MEASURE 100
OBS_STATUS 100
UNIT_MULT 100
SEX 100
AGE 100
UNIT_MEASURE 101
OBS_STATUS 101
UNIT_MULT 101
SEX 101
AGE 101
UNIT_MEASURE 102
OBS_STATUS 102
UNIT_MULT 102
SEX 102
AGE 102
UNIT_MEASURE 103
OBS_STATUS 103
UNIT_MULT 103
SEX 103
AGE 103
UNIT_MEASURE 104
OBS_STATUS 104
UNIT_MULT 104
SEX 104
AGE 104
UNIT_MEASURE 105
OBS_STATUS 105
UNIT_MULT 105
SEX 105
AGE 105
UNIT_MEASURE 106
OBS_STATUS 106
UNIT_MULT 106
SEX 106
AGE 106
UNIT_MEASURE 107
OBS_STATUS 107
UNIT_MULT 107
SEX 107
AGE 107
UNIT_MEASURE 108
OBS_STATUS 108
UNIT_MULT 108
SEX 108
AGE 108
UNIT_MEASURE 109
OBS_STATUS 109
UNIT_MULT 109
SEX 109
AGE 109
UNIT_MEASURE 110
OBS_STATUS 110
UNIT_MULT 110
SEX 110
AGE 110
UNIT_MEASURE 111
OBS_STATUS 111
UNIT_MULT 111
SEX 111
AGE 111
UNIT_MEASURE 112
OBS_STATUS 112
UNIT_MULT 112
SEX 112
AGE 112
UNIT_MEASURE 113
OBS_STATUS 113
UNIT_MULT 113
SEX 113
AGE 113
UNIT_MEASURE 114
OBS_STATUS 114
UNIT_MULT 114
SEX 114
AGE 114
UNIT_MEASURE 115
OBS_STATUS 115
UNIT_MULT 115
SEX 115
AGE 115
UNIT_MEASURE 116
OBS_STATUS 116
UNIT_MULT 116
SEX 116
AGE 116
UNIT_MEASURE 117
OBS_STATUS 117
UNIT_MULT 117
SEX 117
AGE 117
UNIT_MEASURE 118
OBS_STATUS 118
UNIT_MULT 118
SEX 118
AGE 118
UNIT_MEASURE 119
OBS_STATUS 119
UNIT_MULT 119
SEX 119
AGE 119
UNIT_MEASURE 120
OBS_STATUS 120
UNIT_MULT 120
SEX 120
AGE 120
UNIT_MEASURE 121
OBS_STATUS 121
UNIT_MULT 121
SEX 121
AGE 121
UNIT_MEASURE 122
OBS_STATUS 122
UNIT_MULT 122
SEX 122
AGE 122
UNIT_MEASURE 123
OBS_STATUS 123
UNIT_MULT 123
SEX 123
AGE 123
UNIT_MEASURE 124
OBS_STATUS 124
UNIT_MULT 124
SEX 124
AGE 124
UNIT_MEASURE 125
OBS_STATUS 125
UNIT_MULT 125
SEX 125
AGE 125
UNIT_MEASURE 126
OBS_STATUS 126
UNIT_MULT 126
SEX 126
AGE 126
UNIT_MEASURE 127
OBS_STATUS 127
UNIT_MULT 127
SEX 127
AGE 127
UNIT_MEASURE 128
OBS_STATUS 128
UNIT_MULT 128
SEX 128
AGE 128
UNIT_MEASURE 129
OBS_STATUS 129
UNIT_MULT 129
SEX 129
AGE 129
UNIT_MEASURE 130
OBS_STATUS 130
UNIT_MULT 130
SEX 130
AGE 130
UNIT_MEASURE 131
OBS_STATUS 131
UNIT_MULT 131
SEX 131
AGE 131
UNIT_MEASURE 132
OBS_STATUS 132
UNIT_MULT 132
SEX 132
AGE 132
UNIT_MEASURE 133
OBS_STATUS 133
UNIT_MULT 133
SEX 133
AGE 133
UNIT_MEASURE 134
OBS_STATUS 134
UNIT_MULT 134
SEX 134
AGE 134
UNIT_MEASURE 135
OBS_STATUS 135
UNIT_MULT 135
SEX 135
AGE 135
UNIT_MEASURE 136
OBS_STATUS 136
UNIT_MULT 136
SEX 136
AGE 136
UNIT_MEASURE 137
OBS_STATUS 137
UNIT_MULT 137
SEX 137
AGE 137
UNIT_MEASURE 138
OBS_STATUS 138
UNIT_MULT 138
SEX 138
AGE 138
UNIT_MEASURE 139
OBS_STATUS 139
UNIT_MULT 139
SEX 139
AGE 139
UNIT_MEASURE 140
OBS_STATUS 140
UNIT_MULT 140
SEX 140
AGE 140
UNIT_MEASURE 141
OBS_STATUS 141
UNIT_MULT 141
SEX 141

AGE 141
UNIT_MEASURE 142
OBS_STATUS 142
UNIT_MULT 142
SEX 142
AGE 142
UNIT_MEASURE 143
OBS_STATUS 143
UNIT_MULT 143
SEX 143
AGE 143
UNIT_MEASURE 144
OBS_STATUS 144
UNIT_MULT 144
SEX 144
AGE 144
UNIT_MEASURE 145
OBS_STATUS 145
UNIT_MULT 145
SEX 145
AGE 145
UNIT_MEASURE 146
OBS_STATUS 146
UNIT_MULT 146
SEX 146
AGE 146
UNIT_MEASURE 147
OBS_STATUS 147
UNIT_MULT 147
SEX 147
AGE 147
UNIT_MEASURE 148
OBS_STATUS 148
UNIT_MULT 148
SEX 148
AGE 148
UNIT_MEASURE 149
OBS_STATUS 149
UNIT_MULT 149
SEX 149
AGE 149
UNIT_MEASURE 150
OBS_STATUS 150
UNIT_MULT 150
SEX 150
AGE 150
UNIT_MEASURE 151
OBS_STATUS 151
UNIT_MULT 151
SEX 151
AGE 151
UNIT_MEASURE 152
OBS_STATUS 152
UNIT_MULT 152
SEX 152
AGE 152
UNIT_MEASURE 153
OBS_STATUS 153
UNIT_MULT 153
SEX 153
AGE 153
UNIT_MEASURE 154
OBS_STATUS 154
UNIT_MULT 154
SEX 154
AGE 154
UNIT_MEASURE 155
OBS_STATUS 155
UNIT_MULT 155
SEX 155
AGE 155
UNIT_MEASURE 156
OBS_STATUS 156
UNIT_MULT 156
SEX 156
AGE 156
UNIT_MEASURE 157
OBS_STATUS 157
UNIT_MULT 157
SEX 157
AGE 157
UNIT_MEASURE 158
OBS_STATUS 158
UNIT_MULT 158
SEX 158
AGE 158
UNIT_MEASURE 159
OBS_STATUS 159
UNIT_MULT 159
SEX 159
AGE 159
UNIT_MEASURE 160
OBS_STATUS 160
UNIT_MULT 160
SEX 160
AGE 160
UNIT_MEASURE 161
OBS_STATUS 161
UNIT_MULT 161
SEX 161
AGE 161
UNIT_MEASURE 162
OBS_STATUS 162
UNIT_MULT 162
SEX 162
AGE 162
UNIT_MEASURE 163
OBS_STATUS 163
UNIT_MULT 163
SEX 163
AGE 163
UNIT_MEASURE 164
OBS_STATUS 164
UNIT_MULT 164
SEX 164
AGE 164
UNIT_MEASURE 165
OBS_STATUS 165
UNIT_MULT 165
SEX 165
AGE 165
UNIT_MEASURE 166
OBS_STATUS 166
UNIT_MULT 166
SEX 166
AGE 166
UNIT_MEASURE 167
OBS_STATUS 167
UNIT_MULT 167
SEX 167
AGE 167
UNIT_MEASURE 168
OBS_STATUS 168
UNIT_MULT 168
SEX 168
AGE 168
UNIT_MEASURE 169
OBS_STATUS 169
UNIT_MULT 169
SEX 169
AGE 169
UNIT_MEASURE 170
OBS_STATUS 170
UNIT_MULT 170
SEX 170
AGE 170
UNIT_MEASURE 171
OBS_STATUS 171
UNIT_MULT 171
SEX 171
AGE 171
UNIT_MEASURE 172
OBS_STATUS 172
UNIT_MULT 172
SEX 172
AGE 172
UNIT_MEASURE 173
OBS_STATUS 173
UNIT_MULT 173
SEX 173
AGE 173
UNIT_MEASURE 174
OBS_STATUS 174
UNIT_MULT 174
SEX 174
AGE 174
UNIT_MEASURE 175
OBS_STATUS 175
UNIT_MULT 175
SEX 175
AGE 175
UNIT_MEASURE 176
OBS_STATUS 176
UNIT_MULT 176
SEX 176
AGE 176
UNIT_MEASURE 177
OBS_STATUS 177
UNIT_MULT 177
SEX 177
AGE 177
UNIT_MEASURE 178
OBS_STATUS 178
UNIT_MULT 178
SEX 178
AGE 178
UNIT_MEASURE 179
OBS_STATUS 179
UNIT_MULT 179
SEX 179
AGE 179
UNIT_MEASURE 180
OBS_STATUS 180
UNIT_MULT 180
SEX 180
AGE 180
UNIT_MEASURE 181
OBS_STATUS 181
UNIT_MULT 181
SEX 181
AGE 181
UNIT_MEASURE 182
OBS_STATUS 182
UNIT_MULT 182
SEX 182
AGE 182
UNIT_MEASURE 183
OBS_STATUS 183
UNIT_MULT 183
SEX 183
AGE 183
UNIT_MEASURE 184
OBS_STATUS 184
UNIT_MULT 184
SEX 184
AGE 184
UNIT_MEASURE 185
OBS_STATUS 185
UNIT_MULT 185
SEX 185
AGE 185
UNIT_MEASURE 186
OBS_STATUS 186
UNIT_MULT 186
SEX 186
AGE 186
UNIT_MEASURE 187
OBS_STATUS 187
UNIT_MULT 187
SEX 187
AGE 187
UNIT_MEASURE 188
OBS_STATUS 188
UNIT_MULT 188
SEX 188
AGE 188
UNIT_MEASURE 189
OBS_STATUS 189
UNIT_MULT 189
SEX 189
AGE 189
UNIT_MEASURE 190
OBS_STATUS 190
UNIT_MULT 190
SEX 190
AGE 190
UNIT_MEASURE 191
OBS_STATUS 191
UNIT_MULT 191
SEX 191
AGE 191
UNIT_MEASURE 192
OBS_STATUS 192
UNIT_MULT 192
SEX 192
AGE 192
UNIT_MEASURE 193
OBS_STATUS 193
UNIT_MULT 193
SEX 193
AGE 193
UNIT_MEASURE 194
OBS_STATUS 194
UNIT_MULT 194
SEX 194
AGE 194
UNIT_MEASURE 195
OBS_STATUS 195
UNIT_MULT 195
SEX 195
AGE 195
UNIT_MEASURE 196
OBS_STATUS 196
UNIT_MULT 196
SEX 196
AGE 196
UNIT_MEASURE 197
OBS_STATUS 197
UNIT_MULT 197
SEX 197
AGE 197
UNIT_MEASURE 198
OBS_STATUS 198
UNIT_MULT 198
SEX 198
AGE 198
UNIT_MEASURE 199
OBS_STATUS 199
UNIT_MULT 199
SEX 199
AGE 199
UNIT_MEASURE 200
OBS_STATUS 200
UNIT_MULT 200
SEX 200
AGE 200
UNIT_MEASURE 201
OBS_STATUS 201
UNIT_MULT 201
SEX 201
AGE 201
UNIT_MEASURE 202
OBS_STATUS 202
UNIT_MULT 202
SEX 202
AGE 202
UNIT_MEASURE 203
OBS_STATUS 203
UNIT_MULT 203
SEX 203
AGE 203
UNIT_MEASURE 204
OBS_STATUS 204
UNIT_MULT 204
SEX 204
AGE 204
UNIT_MEASURE 205
OBS_STATUS 205
UNIT_MULT 205
SEX 205
AGE 205
UNIT_MEASURE 206
OBS_STATUS 206
UNIT_MULT 206
SEX 206
AGE 206
UNIT_MEASURE 207
OBS_STATUS 207
UNIT_MULT 207
SEX 207
AGE 207
UNIT_MEASURE 208
OBS_STATUS 208
UNIT_MULT 208
SEX 208
AGE 208
UNIT_MEASURE 209
OBS_STATUS 209
UNIT_MULT 209
SEX 209
AGE 209
UNIT_MEASURE 210
OBS_STATUS 210
UNIT_MULT 210
SEX 210
AGE 210
UNIT_MEASURE 211
OBS_STATUS 211
UNIT_MULT 211
SEX 211
AGE 211
UNIT_MEASURE 212
OBS_STATUS 212
UNIT_MULT 212
SEX 212
AGE 212
UNIT_MEASURE 213
OBS_STATUS 213
UNIT_MULT 213
SEX 213
AGE 213
UNIT_MEASURE 214
OBS_STATUS 214
UNIT_MULT 214
SEX 214
AGE 214
UNIT_MEASURE 215
OBS_STATUS 215
UNIT_MULT 215
SEX 215
AGE 215
UNIT_MEASURE 216
OBS_STATUS 216
UNIT_MULT 216
SEX 216
AGE 216
UNIT_MEASURE 217
OBS_STATUS 217
UNIT_MULT 217
SEX 217
AGE 217
UNIT_MEASURE 218
OBS_STATUS 218
UNIT_MULT 218
SEX 218
AGE 218
UNIT_MEASURE 219
OBS_STATUS 219
UNIT_MULT 219
SEX 219
AGE 219
UNIT_MEASURE 220
OBS_STATUS 220
UNIT_MULT 220
SEX 220
AGE 220
UNIT_MEASURE 221
OBS_STATUS 221
UNIT_MULT 221
SEX 221
AGE 221
UNIT_MEASURE 222
OBS_STATUS 222
UNIT_MULT 222
SEX 222
AGE 222
UNIT_MEASURE 223
OBS_STATUS 223
UNIT_MULT 223
SEX 223
AGE 223
UNIT_MEASURE 224
OBS_STATUS 224
UNIT_MULT 224
SEX 224
AGE 224
UNIT_MEASURE 225
OBS_STATUS 225
UNIT_MULT 225
SEX 225
AGE 225
UNIT_MEASURE 226
OBS_STATUS 226
UNIT_MULT 226
SEX 226
AGE 226
UNIT_MEASURE 227
OBS_STATUS 227
UNIT_MULT 227
SEX 227
AGE 227
UNIT_MEASURE 228
OBS_STATUS 228
UNIT_MULT 228
SEX 228
AGE 228
UNIT_MEASURE 229
OBS_STATUS 229
UNIT_MULT 229
SEX 229
AGE 229
UNIT_MEASURE 230
OBS_STATUS 230
UNIT_MULT 230
SEX 230
AGE 230
UNIT_MEASURE 231
OBS_STATUS 231
UNIT_MULT 231
SEX 231
AGE 231
UNIT_MEASURE 232
OBS_STATUS 232
UNIT_MULT 232
SEX 232
AGE 232
UNIT_MEASURE 233
OBS_STATUS 233
UNIT_MULT 233
SEX 233
AGE 233
UNIT_MEASURE 234
OBS_STATUS 234
UNIT_MULT 234
SEX 234
AGE 234
UNIT_MEASURE 235
OBS_STATUS 235
UNIT_MULT 235
SEX 235
AGE 235
UNIT_MEASURE 236
OBS_STATUS 236
UNIT_MULT 236
SEX 236
AGE 236
UNIT_MEASURE 237
OBS_STATUS 237
UNIT_MULT 237
SEX 237
AGE 237
UNIT_MEASURE 238
OBS_STATUS 238
UNIT_MULT 238
SEX 238
AGE 238
UNIT_MEASURE 239
OBS_STATUS 239
UNIT_MULT 239
SEX 239
AGE 239
UNIT_MEASURE 240
OBS_STATUS 240
UNIT_MULT 240
SEX 240
AGE 240
UNIT_MEASURE 241
OBS_STATUS 241
UNIT_MULT 241
SEX 241
AGE 241
UNIT_MEASURE 242
OBS_STATUS 242
UNIT_MULT 242
SEX 242
AGE 242
UNIT_MEASURE 243
OBS_STATUS 243
UNIT_MULT 243
SEX 243
AGE 243
UNIT_MEASURE 244
OBS_STATUS 244
UNIT_MULT 244
SEX 244
AGE 244
UNIT_MEASURE 245
OBS_STATUS 245
UNIT_MULT 245
SEX 245
AGE 245
UNIT_MEASURE 246
OBS_STATUS 246
UNIT_MULT 246
SEX 246
AGE 246
UNIT_MEASURE 247
OBS_STATUS 247
UNIT_MULT 247
SEX 247
AGE 247
UNIT_MEASURE 248
OBS_STATUS 248
UNIT_MULT 248
SEX 248
AGE 248
UNIT_MEASURE 249
OBS_STATUS 249
UNIT_MULT 249
SEX 249
AGE 249
UNIT_MEASURE 250
OBS_STATUS 250
UNIT_MULT 250
SEX 250
AGE 250
UNIT_MEASURE 251
OBS_STATUS 251
UNIT_MULT 251
SEX 251
AGE 251
UNIT_MEASURE 252
OBS_STATUS 252
UNIT_MULT 252
SEX 252
AGE 252
UNIT_MEASURE 253
OBS_STATUS 253
UNIT_MULT 253
SEX 253
AGE 253
UNIT_MEASURE 254
OBS_STATUS 254
UNIT_MULT 254
SEX 254
AGE 254
UNIT_MEASURE 255
OBS_STATUS 255
UNIT_MULT 255
SEX 255
AGE 255
UNIT_MEASURE 256
OBS_STATUS 256
UNIT_MULT 256
SEX 256
AGE 256
UNIT_MEASURE 257
OBS_STATUS 257
UNIT_MULT 257
SEX 257
AGE 257
UNIT_MEASURE 258
OBS_STATUS 258
UNIT_MULT 258
SEX 258
AGE 258
UNIT_MEASURE 259
OBS_STATUS 259
UNIT_MULT 259
SEX 259
AGE 259
UNIT_MEASURE 260
OBS_STATUS 260
UNIT_MULT 260
SEX 260
AGE 260
UNIT_MEASURE 261
OBS_STATUS 261
UNIT_MULT 261
SEX 261
AGE 261
UNIT_MEASURE 262
OBS_STATUS 262
UNIT_MULT 262
SEX 262
AGE 262
UNIT_MEASURE 263
OBS_STATUS 263
UNIT_MULT 263
SEX 263
AGE 263
UNIT_MEASURE 264
OBS_STATUS 264
UNIT_MULT 264
SEX 264
AGE 264
UNIT_MEASURE 265
OBS_STATUS 265
UNIT_MULT 265
SEX 265
AGE 265
UNIT_MEASURE 266
OBS_STATUS 266
UNIT_MULT 266
SEX 266
AGE 266
UNIT_MEASURE 267
OBS_STATUS 267
UNIT_MULT 267
SEX 267
AGE 267
UNIT_MEASURE 268
OBS_STATUS 268
UNIT_MULT 268
SEX 268
AGE 268
UNIT_MEASURE 269
OBS_STATUS 269
UNIT_MULT 269
SEX 269
AGE 269
UNIT_MEASURE 270
OBS_STATUS 270
UNIT_MULT 270
SEX 270
AGE 270
UNIT_MEASURE 271
OBS_STATUS 271
UNIT_MULT 271
SEX 271
AGE 271
UNIT_MEASURE 272
OBS_STATUS 272
UNIT_MULT 272
SEX 272
AGE 272

For each row in df, covert current value to corresponding value from mapping

In [13]:
for i in df.index:
    for col in indicator.drop(columns=["TIME_PERIOD", "_REPVAR_"]).columns:
        df.at[i, col]=mapping['DSD_Dim_Code'].loc[mapping['EXT_Dim_Code']==df.at[i, col]].loc[mapping['DSD_Dim']==col].item()

#rename _REPVAR_ column
df.rename(columns={'_REPVAR_':'OBS_VALUE'}, inplace=True)

# sort df by disaggregation columns and reset index    
df.sort_values(list(indicator.drop(columns=["TIME_PERIOD", "_REPVAR_"]).columns), inplace=True)
df=df[fields].reset_index(drop=True)
df.head()

,FREQ,REPORTING_TYPE,SERIES,REF_AREA,SEX,AGE,URBANISATION,INCOME_WEALTH_QUANTILE,EDUCATION_LEV,OCCUPATION,CUST_BREAKDOWN,COMPOSITE_BREAKDOWN,DISABILITY_STATUS,TIME_PERIOD,OBS_VALUE,OBS_STATUS,UNIT_MULT,UNIT_MEASURE
0,A,N,SI_POV_NAHC,826,F,Y0T15,_T,_T,_T,_T,_T,_T,_T,2005,31.4,A,0,PERCENT
1,A,N,SI_POV_NAHC,826,F,Y0T15,_T,_T,_T,_T,_T,_T,_T,2006,30.5,A,0,PERCENT
2,A,N,SI_POV_NAHC,826,F,Y0T15,_T,_T,_T,_T,_T,_T,_T,2007,28.6,A,0,PERCENT
3,A,N,SI_POV_NAHC,826,F,Y0T15,_T,_T,_T,_T,_T,_T,_T,2008,29.7,A,0,PERCENT
4,A,N,SI_POV_NAHC,826,F,Y0T15,_T,_T,_T,_T,_T,_T,_T,2009,28.9,A,0,PERCENT

## Write df to XML
We start by writing what is the header of the xml file created when we converted the CSV using ILOSTAT's SMART tool. We hope this will be generated automatically in the future so this step won't be needed.

In [14]:
# write top of xml to string called indicator_xml
indicator_xml='<?xml version="1.0" encoding="UTF-8"?>\n'
indicator_xml+='<message:StructureSpecificData xmlns:ss="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/data/structurespecific" xmlns:footer="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/message/footer"\n'
indicator_xml+='xmlns:ns1="urn:sdmx:org.sdmx.infomodel.datastructure.DataStructure=UNSD:SDG(0.4):ObsLevelDim:TIME_PERIOD" xmlns:message="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/message"\n'
indicator_xml+='xmlns:common="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/common"\n'
indicator_xml+='xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xml="http://www.w3.org/XML/1998/namespace">\n'
indicator_xml+='  <message:Header>\n'
indicator_xml+='    <message:ID>IDREF636797685310003267</message:ID>\n'
indicator_xml+='    <message:Test>false</message:Test>\n'
indicator_xml+='    <message:Prepared>2010-02-04T08:35:31</message:Prepared>\n'
indicator_xml+='    <message:Sender id="ONS"/>\n'
indicator_xml+='    <message:Structure structureID="UNSD_SDG_1_0" namespace="urn:sdmx:org.sdmx.infomodel.datastructure.DataStructure=UNSD:SDG(1.0):ObsLevelDim:TIME_PERIOD" dimensionAtObservation="TIME_PERIOD">\n'
indicator_xml+='      <common:Structure>\n'
indicator_xml+='        <Ref id="SDG" agencyID="UNSD" version="0.4"/>\n'
indicator_xml+='      </common:Structure>\n'
indicator_xml+='    </message:Structure>\n'
indicator_xml+='  </message:Header>\n'
indicator_xml+='  <message:DataSet ss:dataScope="DataStructure" xsi:type="ns1:DataSetType" ss:structureRef="UNSD_SDG_0_4">\n'

Get unique disaggregations combinations from df

In [15]:
unique=df.iloc[:,:13].drop_duplicates()
unique

,FREQ,REPORTING_TYPE,SERIES,REF_AREA,SEX,AGE,URBANISATION,INCOME_WEALTH_QUANTILE,EDUCATION_LEV,OCCUPATION,CUST_BREAKDOWN,COMPOSITE_BREAKDOWN,DISABILITY_STATUS
0,A,N,SI_POV_NAHC,826,F,Y0T15,_T,_T,_T,_T,_T,_T,_T
13,A,N,SI_POV_NAHC,826,F,Y16T24,_T,_T,_T,_T,_T,_T,_T
26,A,N,SI_POV_NAHC,826,F,Y25T49,_T,_T,_T,_T,_T,_T,_T
39,A,N,SI_POV_NAHC,826,F,Y50T64,_T,_T,_T,_T,_T,_T,_T
52,A,N,SI_POV_NAHC,826,F,Y65T74,_T,_T,_T,_T,_T,_T,_T
65,A,N,SI_POV_NAHC,826,F,Y_GE75,_T,_T,_T,_T,_T,_T,_T
78,A,N,SI_POV_NAHC,826,F,_T,_T,_T,_T,_T,_T,_T,_T
91,A,N,SI_POV_NAHC,826,M,Y0T15,_T,_T,_T,_T,_T,_T,_T
104,A,N,SI_POV_NAHC,826,M,Y16T24,_T,_T,_T,_T,_T,_T,_T
117,A,N,SI_POV_NAHC,826,M,Y25T49,_T,_T,_T,_T,_T,_T,_T
130,A,N,SI_POV_NAHC,826,M,Y50T64,_T,_T,_T,_T,_T,_T,_T
143,A,N,SI_POV_NAHC,826,M,Y65T74,_T,_T,_T,_T,_T,_T,_T
156,A,N,SI_POV_NAHC,826,M,Y_GE75,_T,_T,_T,_T,_T,_T,_T
169,A,N,SI_POV_NAHC,826,M,_T,_T,_T,_T,_T,_T,_T,_T
182,A,N,SI_POV_NAHC,826,_T,Y0T15,_T,_T,_T,_T,_T,_T,_T
195,A,N,SI_POV_NAHC,826,_T,Y16T24,_T,_T,_T,_T,_T,_T,_T
208,A,N,SI_POV_NAHC,826,_T,Y25T49,_T,_T,_T,_T,_T,_T,_T
221,A,N,SI_POV_NAHC,826,_T,Y50T64,_T,_T,_T,_T,_T,_T,_T
234,A,N,SI_POV_NAHC,826,_T,Y65T74,_T,_T,_T,_T,_T,_T,_T
247,A,N,SI_POV_NAHC,826,_T,Y_GE75,_T,_T,_T,_T,_T,_T,_T
260,A,N,SI_POV_NAHC,826,_T,_T,_T,_T,_T,_T,_T,_T,_T

Create identifier column that is the same as the index column:

In [16]:
unique["identifier"]=unique.index
unique.head()

,FREQ,REPORTING_TYPE,SERIES,REF_AREA,SEX,AGE,URBANISATION,INCOME_WEALTH_QUANTILE,EDUCATION_LEV,OCCUPATION,CUST_BREAKDOWN,COMPOSITE_BREAKDOWN,DISABILITY_STATUS,identifier
0,A,N,SI_POV_NAHC,826,F,Y0T15,_T,_T,_T,_T,_T,_T,_T,0
13,A,N,SI_POV_NAHC,826,F,Y16T24,_T,_T,_T,_T,_T,_T,_T,13
26,A,N,SI_POV_NAHC,826,F,Y25T49,_T,_T,_T,_T,_T,_T,_T,26
39,A,N,SI_POV_NAHC,826,F,Y50T64,_T,_T,_T,_T,_T,_T,_T,39
52,A,N,SI_POV_NAHC,826,F,Y65T74,_T,_T,_T,_T,_T,_T,_T,52

Merge identifier onto full df so that we know which rows belong to a unique disaggregation column:

In [17]:
df=df.merge(unique)
df.head()

,FREQ,REPORTING_TYPE,SERIES,REF_AREA,SEX,AGE,URBANISATION,INCOME_WEALTH_QUANTILE,EDUCATION_LEV,OCCUPATION,CUST_BREAKDOWN,COMPOSITE_BREAKDOWN,DISABILITY_STATUS,TIME_PERIOD,OBS_VALUE,OBS_STATUS,UNIT_MULT,UNIT_MEASURE,identifier
0,A,N,SI_POV_NAHC,826,F,Y0T15,_T,_T,_T,_T,_T,_T,_T,2005,31.4,A,0,PERCENT,0
1,A,N,SI_POV_NAHC,826,F,Y0T15,_T,_T,_T,_T,_T,_T,_T,2006,30.5,A,0,PERCENT,0
2,A,N,SI_POV_NAHC,826,F,Y0T15,_T,_T,_T,_T,_T,_T,_T,2007,28.6,A,0,PERCENT,0
3,A,N,SI_POV_NAHC,826,F,Y0T15,_T,_T,_T,_T,_T,_T,_T,2008,29.7,A,0,PERCENT,0
4,A,N,SI_POV_NAHC,826,F,Y0T15,_T,_T,_T,_T,_T,_T,_T,2009,28.9,A,0,PERCENT,0

Get observation values from df:

In [18]:
obs_values=df.iloc[:,13:]
obs_values.head()

   TIME_PERIOD  OBS_VALUE OBS_STATUS UNIT_MULT UNIT_MEASURE  identifier
0         2005       31.4          A         0      PERCENT           0
1         2006       30.5          A         0      PERCENT           0
2         2007       28.6          A         0      PERCENT           0
3         2008       29.7          A         0      PERCENT           0
4         2009       28.9          A         0      PERCENT           0

Go through unique combos and then through each observation and write each field name and value to xml_indicator:

In [19]:
for i in unique.index:
    xml='    <Series'
    for field in fields[:13]:
        xml +=" "+ unique[field].name +'="'+ unique[field][i]+'"'
    xml+=">\n"
    j=unique["identifier"][i]
    for k in obs_values.index:
        if j == obs_values['identifier'][k]:
            xml += "      <Obs"
            for field in fields[13:]:
                xml +=" "+ obs_values[field].name +'="'+ str(obs_values[field][k])+'"'
            xml+="/>\n"
    xml+="</Series>\n"
    indicator_xml+=xml

# end indicator_xml
indicator_xml+='  </message:DataSet>\n'
indicator_xml+='</message:StructureSpecificData>'

Write indicator_xml to indicator file with format "indicator_GOAL-TARGET-INDICATOR.xml":

In [20]:
with open(indicator_file.split(".")[0]+".xml", 'w') as f:
    f.write(indicator_xml)